h1{
	background-color:orange;
}
table{
	border-style:none;
	width=50%;
	text-align:center;
	font-family:verdana;
	background-color:#FFFF80;
}
tr.primsec{
	background-color:orange;
}
td.doppio{
	font-size:120%;
}
tr{
	background-color:#FFC000;
}
p.nomecognome{
	text-align:right;
}